AI_Catalogue_Image_Files.json
{"flowContents":{"identifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","instanceIdentifier":"4d341088-0195-1000-5972-5832a085bf5b","name":"AI_Catalogue_Image_Files","comments":"","position":{"x":-40.0,"y":-400.0},"processGroups":[{"identifier":"1a012707-0195-1000-468d-c11d49947206","instanceIdentifier":"b698e61d-5275-3fbe-1ae8-83d016844ca9","name":"AI_Catalogue_Single_Image","comments":"","position":{"x":-224.0,"y":-1776.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1a01270c-0195-1000-c6cf-f23d1914125f","instanceIdentifier":"43deeed7-a8ba-3094-4514-f3ec7eab5d99","name":"Dummy XML","comments":"","position":{"x":1128.0,"y":-1224.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"<dummy/>","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01270e-0195-1000-be6d-984d4757297d","instanceIdentifier":"deec3945-6576-3d73-f397-024a4ab92675","name":"llava: keywords","comments":"","position":{"x":472.0,"y":-832.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.2.0"},"properties":{"jslt-transform-pretty_print":"true","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"model\": .[0].original.model,\n  \"messages\" : [ \n    .[0].original.messages[0],\n    .[0].enrichment.message,\n    {\n      \"role\" : \"user\",\n      \"content\" : \"To catalogue this image, apply relevant keywords. Return them as an array of strings in Json.\"\n    }\n  ],\n  \"stream\": false,\n  \"format\": {\n    \"type\": \"array\",\n    \"items\" : {\n      \"type\": \"string\"\n    }\n  },\n  \"options\": {\n    \"temperature\": 0.5\n  }\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"ENTIRE_FLOWFILE"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012719-0195-1000-7fba-360e2a749a3b","instanceIdentifier":"4a6f9f26-83ce-3b8f-334d-6585de42f08b","name":"Ollama Chat","comments":"","position":{"x":472.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"180 sec","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://ollama:11434/api/chat","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012714-0195-1000-51ef-134d82d2a042","instanceIdentifier":"2bcd23bb-4c04-3069-12ec-b094e0f83a9e","name":"Ollama Chat: What is shown in this image?","comments":"","position":{"x":-528.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"180 sec","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://ollama:11434/api/chat","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01270b-0195-1000-4568-e8cae4261a7f","instanceIdentifier":"13eef536-c99d-33bb-6d52-7bad19ef5ce5","name":"Keep originalFilename","comments":"","position":{"x":-528.0,"y":-1008.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"originalFilename":"${filename}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"originalFilename":{"name":"originalFilename","displayName":"originalFilename","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012717-0195-1000-df32-0a9fab632769","instanceIdentifier":"944a15c8-fd58-3bc9-5e15-6fe412197cf4","name":"Extract keywords","comments":"","position":{"x":472.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","imageKeywords":"$.message.content","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"imageKeywords":{"name":"imageKeywords","displayName":"imageKeywords","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"5546751d-760b-330d-b30e-8e953ee00b98","instanceIdentifier":"2054e4c5-d07f-3e2e-50e9-5d80309f9c17","name":"MD5 message digest","comments":"","position":{"x":-1104.0,"y":-1112.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"hash_algorithm":"MD5","fail_when_empty":"false"},"propertyDescriptors":{"hash_algorithm":{"name":"hash_algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fail_when_empty":{"name":"fail_when_empty","displayName":"Fail if the content is empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012712-0195-1000-f9fd-3c84163aab7b","instanceIdentifier":"2cd6c6e0-70f8-3cfe-7ecf-c209612a8066","name":"ForkEnrichment","comments":"","position":{"x":-528.0,"y":-768.0},"type":"org.apache.nifi.processors.standard.ForkEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012715-0195-1000-9c9c-6c60307085fb","instanceIdentifier":"4cc55d09-7261-36d4-70eb-05534c37ef25","name":"Extract description","comments":"","position":{"x":472.0,"y":-1032.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","imageDescription":"$[0].enrichment.message.content","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"imageDescription":{"name":"imageDescription","displayName":"imageDescription","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012711-0195-1000-4d36-cb6c7c0531d0","instanceIdentifier":"fe74f6da-6ec9-3b7c-9a4b-9a0f731fe8a5","name":"TransformXml","comments":"","position":{"x":1128.0,"y":-816.0},"type":"org.apache.nifi.processors.standard.TransformXml","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"xslt-controller-key":"generateImage.xslt","file.lastModifiedTime":"${file.lastModifiedTime:format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\", \"GMT\")}","content_MD5":"${content_MD5}","file.size":"${file.size}","XSLT file name":null,"cache-ttl-after-last-access":"60 secs","absolute.path":"${absolute.path}","xslt-controller":"1a012709-0195-1000-4d16-22b8e990f92e","secure-processing":"true","cache-size":"10","imageDescription":"${imageDescription}","indent-output":"true","imageKeywords":"${imageKeywords}","originalFilename":"${originalFilename}"},"propertyDescriptors":{"xslt-controller-key":{"name":"xslt-controller-key","displayName":"XSLT Lookup key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file.lastModifiedTime":{"name":"file.lastModifiedTime","displayName":"file.lastModifiedTime","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content_MD5":{"name":"content_MD5","displayName":"content_MD5","identifiesControllerService":false,"sensitive":false,"dynamic":true},"file.size":{"name":"file.size","displayName":"file.size","identifiesControllerService":false,"sensitive":false,"dynamic":true},"XSLT file name":{"name":"XSLT file name","displayName":"XSLT file name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"cache-ttl-after-last-access":{"name":"cache-ttl-after-last-access","displayName":"Cache TTL after last access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"absolute.path":{"name":"absolute.path","displayName":"absolute.path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"xslt-controller":{"name":"xslt-controller","displayName":"XSLT Lookup","identifiesControllerService":true,"sensitive":false,"dynamic":false},"secure-processing":{"name":"secure-processing","displayName":"Secure processing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"imageDescription":{"name":"imageDescription","displayName":"imageDescription","identifiesControllerService":false,"sensitive":false,"dynamic":true},"indent-output":{"name":"indent-output","displayName":"Indent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"imageKeywords":{"name":"imageKeywords","displayName":"imageKeywords","identifiesControllerService":false,"sensitive":false,"dynamic":true},"originalFilename":{"name":"originalFilename","displayName":"originalFilename","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"d311f53e-81b7-313f-91db-a9a3dcf964fa","instanceIdentifier":"f9396500-9f9b-338f-55c7-2714cd14821c","name":"mime.type: application/xml","comments":"","position":{"x":1128.0,"y":-1024.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/xml","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012718-0195-1000-05a6-7adc06735506","instanceIdentifier":"d7ad67f5-7c38-3f17-ae44-21303dc54a86","name":"encode base64","comments":"","position":{"x":-1104.0,"y":-904.0},"type":"org.apache.nifi.processors.standard.EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Encoded Line Length":"76","Mode":"Encode","Encoding":"base64","Line Output Mode":"SINGLE_LINE"},"propertyDescriptors":{"Encoded Line Length":{"name":"Encoded Line Length","displayName":"Encoded Line Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoding":{"name":"Encoding","displayName":"Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Output Mode":{"name":"Line Output Mode","displayName":"Line Output Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01270d-0195-1000-c043-d14ddfead751","instanceIdentifier":"1fe4f2bb-94c9-3f61-e4aa-152cf5e5ac54","name":"llava: What is shown in this image?","comments":"","position":{"x":-528.0,"y":-1232.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"{\n  \"model\": \"llava:7b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"What is shown in this image?\",\n      \"images\": [\"","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\"]\n    }\n  ],\n  \"stream\": false\n}"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012713-0195-1000-ff26-940a62dca50a","instanceIdentifier":"99bd3874-ff33-3554-660e-300d299e2364","name":"JoinEnrichment","comments":"","position":{"x":64.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"dbf-default-precision":"10","Join Strategy":"Wrapper","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"1a012708-0195-1000-2562-88359940f4e7","Record Writer":"1a01270a-0195-1000-9d8b-06a015eac59a","Enrichment Record Reader":"1a012708-0195-1000-2562-88359940f4e7","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a049ad6-0195-1000-f54d-ab1d02b3f741","instanceIdentifier":"8f1d405f-3606-39d2-d146-e40afcfa2d65","name":"Recover filename","comments":"","position":{"x":464.0,"y":-1232.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"${originalFilename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"inputPorts":[{"identifier":"b899cede-f825-3bfd-89cd-f0ae35c317b1","instanceIdentifier":"a638fabc-5115-3301-59ab-e04b8663c36b","name":"single file","position":{"x":-1048.0,"y":-1232.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"outputPorts":[{"identifier":"f8a5a493-5f9f-32d9-aea8-b40c5af92fc9","instanceIdentifier":"acdea124-72a2-3020-cd8a-5c6e97a228b2","name":"finished","position":{"x":1184.0,"y":-584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"connections":[{"identifier":"1a012730-0195-1000-2592-ff92354a1f39","instanceIdentifier":"bdf2bca6-3987-3de1-9c10-3ca31c877db1","name":"","source":{"id":"1a01270b-0195-1000-4568-e8cae4261a7f","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Keep originalFilename","comments":"","instanceIdentifier":"13eef536-c99d-33bb-6d52-7bad19ef5ce5"},"destination":{"id":"1a012712-0195-1000-f9fd-3c84163aab7b","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"ForkEnrichment","comments":"","instanceIdentifier":"2cd6c6e0-70f8-3cfe-7ecf-c209612a8066"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"092a6c00-2796-3531-8122-7a9a924f1625","instanceIdentifier":"49bca881-1526-323b-c753-6863a63d6cd4","name":"","source":{"id":"1a049ad6-0195-1000-f54d-ab1d02b3f741","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Recover filename","comments":"","instanceIdentifier":"8f1d405f-3606-39d2-d146-e40afcfa2d65"},"destination":{"id":"1a012715-0195-1000-9c9c-6c60307085fb","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Extract description","comments":"","instanceIdentifier":"4cc55d09-7261-36d4-70eb-05534c37ef25"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01272e-0195-1000-63a8-4ab29ad77290","instanceIdentifier":"c624596e-a0d1-3472-af3c-87097f2affe1","name":"","source":{"id":"1a012713-0195-1000-ff26-940a62dca50a","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"JoinEnrichment","comments":"","instanceIdentifier":"99bd3874-ff33-3554-660e-300d299e2364"},"destination":{"id":"1a049ad6-0195-1000-f54d-ab1d02b3f741","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Recover filename","comments":"","instanceIdentifier":"8f1d405f-3606-39d2-d146-e40afcfa2d65"},"labelIndex":0,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":240.0,"y":-1168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01272f-0195-1000-dc7f-92f848c4dd54","instanceIdentifier":"3c193f4c-3c55-3981-1eeb-615784996603","name":"","source":{"id":"1a012719-0195-1000-7fba-360e2a749a3b","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Ollama Chat","comments":"","instanceIdentifier":"4a6f9f26-83ce-3b8f-334d-6585de42f08b"},"destination":{"id":"1a012717-0195-1000-df32-0a9fab632769","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Extract keywords","comments":"","instanceIdentifier":"944a15c8-fd58-3bc9-5e15-6fe412197cf4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"b40159de-bd49-3600-927c-a97956eac265","instanceIdentifier":"e9dbacbc-0daa-3ae6-4371-b919f4369d4c","name":"","source":{"id":"1a01270c-0195-1000-c6cf-f23d1914125f","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Dummy XML","comments":"","instanceIdentifier":"43deeed7-a8ba-3094-4514-f3ec7eab5d99"},"destination":{"id":"d311f53e-81b7-313f-91db-a9a3dcf964fa","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"mime.type: application/xml","comments":"","instanceIdentifier":"f9396500-9f9b-338f-55c7-2714cd14821c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012720-0195-1000-5871-3ebf61dd9c2f","instanceIdentifier":"cb376a4b-d290-3cbd-30c0-4f594883de20","name":"","source":{"id":"1a012711-0195-1000-4d36-cb6c7c0531d0","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"TransformXml","comments":"","instanceIdentifier":"fe74f6da-6ec9-3b7c-9a4b-9a0f731fe8a5"},"destination":{"id":"f8a5a493-5f9f-32d9-aea8-b40c5af92fc9","type":"OUTPUT_PORT","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"finished","instanceIdentifier":"acdea124-72a2-3020-cd8a-5c6e97a228b2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"6e9daa44-5e2b-3e28-b44d-bbb4fa722bde","instanceIdentifier":"9ceddf76-68a1-3920-06a3-1c5462e32fbf","name":"","source":{"id":"b899cede-f825-3bfd-89cd-f0ae35c317b1","type":"INPUT_PORT","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"single file","instanceIdentifier":"a638fabc-5115-3301-59ab-e04b8663c36b"},"destination":{"id":"5546751d-760b-330d-b30e-8e953ee00b98","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"MD5 message digest","comments":"","instanceIdentifier":"2054e4c5-d07f-3e2e-50e9-5d80309f9c17"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"6649d8e0-985f-35d6-be52-6b7a5903d6c2","instanceIdentifier":"4a6a3f4c-9732-366d-2e00-5689d6d6b19d","name":"","source":{"id":"5546751d-760b-330d-b30e-8e953ee00b98","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"MD5 message digest","comments":"","instanceIdentifier":"2054e4c5-d07f-3e2e-50e9-5d80309f9c17"},"destination":{"id":"1a012718-0195-1000-05a6-7adc06735506","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"encode base64","comments":"","instanceIdentifier":"d7ad67f5-7c38-3f17-ae44-21303dc54a86"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01272a-0195-1000-8b5b-d2503c9068eb","instanceIdentifier":"0cf2c50a-6e2a-3d62-2d06-833e7cc4dc6d","name":"","source":{"id":"1a012717-0195-1000-df32-0a9fab632769","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Extract keywords","comments":"","instanceIdentifier":"944a15c8-fd58-3bc9-5e15-6fe412197cf4"},"destination":{"id":"1a01270c-0195-1000-c6cf-f23d1914125f","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Dummy XML","comments":"","instanceIdentifier":"43deeed7-a8ba-3094-4514-f3ec7eab5d99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":976.0,"y":-344.0},{"x":976.0,"y":-1152.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012728-0195-1000-6572-a433220799cc","instanceIdentifier":"bd2479c5-cd91-3907-572f-e3e778f47869","name":"","source":{"id":"1a012712-0195-1000-f9fd-3c84163aab7b","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"ForkEnrichment","comments":"","instanceIdentifier":"2cd6c6e0-70f8-3cfe-7ecf-c209612a8066"},"destination":{"id":"1a012713-0195-1000-ff26-940a62dca50a","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"JoinEnrichment","comments":"","instanceIdentifier":"99bd3874-ff33-3554-660e-300d299e2364"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01272b-0195-1000-4078-48eca4ce2041","instanceIdentifier":"95b12995-af4b-363f-5a62-2930ad4effec","name":"","source":{"id":"1a01270d-0195-1000-c043-d14ddfead751","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"llava: What is shown in this image?","comments":"","instanceIdentifier":"1fe4f2bb-94c9-3f61-e4aa-152cf5e5ac54"},"destination":{"id":"1a01270b-0195-1000-4568-e8cae4261a7f","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Keep originalFilename","comments":"","instanceIdentifier":"13eef536-c99d-33bb-6d52-7bad19ef5ce5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"0eed2953-dc42-3af9-8fd1-a384779c9116","instanceIdentifier":"bfc8a096-b8e9-3793-1d7c-06dae7319645","name":"","source":{"id":"d311f53e-81b7-313f-91db-a9a3dcf964fa","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"mime.type: application/xml","comments":"","instanceIdentifier":"f9396500-9f9b-338f-55c7-2714cd14821c"},"destination":{"id":"1a012711-0195-1000-4d36-cb6c7c0531d0","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"TransformXml","comments":"","instanceIdentifier":"fe74f6da-6ec9-3b7c-9a4b-9a0f731fe8a5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012729-0195-1000-067f-dcad3f546138","instanceIdentifier":"d1661d19-d1a9-3a37-2490-12931231cce8","name":"","source":{"id":"1a012714-0195-1000-51ef-134d82d2a042","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Ollama Chat: What is shown in this image?","comments":"","instanceIdentifier":"2bcd23bb-4c04-3069-12ec-b094e0f83a9e"},"destination":{"id":"1a012713-0195-1000-ff26-940a62dca50a","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"JoinEnrichment","comments":"","instanceIdentifier":"99bd3874-ff33-3554-660e-300d299e2364"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012727-0195-1000-d8d1-294bfe0f0c3e","instanceIdentifier":"2906f1e3-3f16-31ce-7a28-a3c4f76de30a","name":"","source":{"id":"1a01270e-0195-1000-be6d-984d4757297d","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"llava: keywords","comments":"","instanceIdentifier":"deec3945-6576-3d73-f397-024a4ab92675"},"destination":{"id":"1a012719-0195-1000-7fba-360e2a749a3b","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Ollama Chat","comments":"","instanceIdentifier":"4a6f9f26-83ce-3b8f-334d-6585de42f08b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012724-0195-1000-e0a6-17652540b82b","instanceIdentifier":"3b7d1646-19a3-30e2-b92b-2d4c9adb4fd7","name":"","source":{"id":"1a012713-0195-1000-ff26-940a62dca50a","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"JoinEnrichment","comments":"","instanceIdentifier":"99bd3874-ff33-3554-660e-300d299e2364"},"destination":{"id":"1a01271b-0195-1000-3968-91e517ea0295","type":"FUNNEL","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Funnel","comments":"","instanceIdentifier":"0c11b598-61cd-3821-0840-55c6a5ebd4a5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["timeout"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012725-0195-1000-3c1f-a1d1232d7ad1","instanceIdentifier":"0d7bea56-bb8a-3cf5-1228-8a174e4e2087","name":"","source":{"id":"1a012715-0195-1000-9c9c-6c60307085fb","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Extract description","comments":"","instanceIdentifier":"4cc55d09-7261-36d4-70eb-05534c37ef25"},"destination":{"id":"1a01270e-0195-1000-be6d-984d4757297d","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"llava: keywords","comments":"","instanceIdentifier":"deec3945-6576-3d73-f397-024a4ab92675"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01272c-0195-1000-5db7-3c2a58d8a12f","instanceIdentifier":"97ea6e91-8508-30f9-6134-3b794fde389c","name":"","source":{"id":"1a012718-0195-1000-05a6-7adc06735506","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"encode base64","comments":"","instanceIdentifier":"d7ad67f5-7c38-3f17-ae44-21303dc54a86"},"destination":{"id":"1a01270d-0195-1000-c043-d14ddfead751","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"llava: What is shown in this image?","comments":"","instanceIdentifier":"1fe4f2bb-94c9-3f61-e4aa-152cf5e5ac54"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-624.0,"y":-840.0},{"x":-624.0,"y":-1168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012721-0195-1000-f842-d10df074c74f","instanceIdentifier":"1e6b9859-7270-3d45-5afe-f4f086e16969","name":"","source":{"id":"1a012712-0195-1000-f9fd-3c84163aab7b","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"ForkEnrichment","comments":"","instanceIdentifier":"2cd6c6e0-70f8-3cfe-7ecf-c209612a8066"},"destination":{"id":"1a012714-0195-1000-51ef-134d82d2a042","type":"PROCESSOR","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"Ollama Chat: What is shown in this image?","comments":"","instanceIdentifier":"2bcd23bb-4c04-3069-12ec-b094e0f83a9e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["enrichment"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"labels":[{"identifier":"291fef20-0195-1000-e0d1-ccc03ea6b169","instanceIdentifier":"37db0a2c-64dc-3725-9d0a-90264686418b","position":{"x":-528.0,"y":-1328.0},"label":"Pass the image to Ollama and ask for a description.","zIndex":0,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01271d-0195-1000-fd95-b90ae7d5a59c","instanceIdentifier":"203d1336-bdd6-3d0b-993f-12a3fa901b16","position":{"x":-160.0,"y":-824.0},"label":"When images queue up, they would run in timeouts here.\nThat's difficult to prevent just by backpressure alone, so we configured this process group as \"single flow\". This also ensures that the two Ollama chat calls per flow instance are not called in parallel.","zIndex":0,"width":328.0,"height":136.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"290f050e-0195-1000-76c5-02fdcf823f9c","instanceIdentifier":"75f59776-7ee2-3c73-b115-5274ef26d3e2","position":{"x":-1096.0,"y":-1328.0},"label":"Keep an MD5 hash of the original file, then encode as base64.","zIndex":0,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"291215c5-0195-1000-ac63-d8a1e2acc6a1","instanceIdentifier":"887b9a7b-162f-326c-1dea-cb8d808b67eb","position":{"x":464.0,"y":-1328.0},"label":"Extract the description from the response and ask Ollama for keywords. We repeat the previously posted picture and messages in the chat to keep the answer consistent. Then extract the keywords.","zIndex":0,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"29165077-0195-1000-7ca3-17fb5b34f7a1","instanceIdentifier":"9e9d618d-bf88-3e30-9489-e7fd0301f65a","position":{"x":1136.0,"y":-1320.0},"label":"Produce an XML document from the collected data.","zIndex":0,"width":352.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"funnels":[{"identifier":"1a01271b-0195-1000-3968-91e517ea0295","instanceIdentifier":"0c11b598-61cd-3821-0840-55c6a5ebd4a5","position":{"x":216.0,"y":-440.0},"componentType":"FUNNEL","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"controllerServices":[{"identifier":"1a012709-0195-1000-4d16-22b8e990f92e","instanceIdentifier":"32daec82-a922-3c43-76fe-8c926b0e2c99","name":"SimpleKeyValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"generateImage.xslt":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xsl:stylesheet xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" version=\"2.0\">\n  <xsl:param name=\"originalFilename\" />\n  <xsl:param name=\"absolute.path\" />\n  <xsl:param name=\"file.lastModifiedTime\" />\n  <xsl:param name=\"file.size\" />\n  <xsl:param name=\"content_MD5\" />\n  <xsl:param name=\"imageDescription\" />\n  <xsl:param name=\"imageKeywords\" />\n  <xsl:template match=\"/\">\n<image>\n    <path><xsl:value-of select=\"$absolute.path\"/></path>\n    <fileName><xsl:value-of select=\"$originalFilename\"/></fileName>\n    <fileTimestamp><xsl:value-of select=\"$file.lastModifiedTime\"/></fileTimestamp>\n    <fileSize><xsl:value-of select=\"$file.size\"/></fileSize>\n    <md5hash><xsl:value-of select=\"$content_MD5\"/></md5hash>\n    <content lang=\"en\">\n        <source>\n            <timestamp><xsl:value-of select=\"current-dateTime()\"/></timestamp>\n            <model>llava:7b</model>\n        </source>\n        <description><xsl:value-of select=\"normalize-space($imageDescription)\" /></description>\n        <xsl:for-each select=\"tokenize(replace(normalize-space($imageKeywords),'^\\[&quot;(.*)&quot;\\]$', '$1'), '&quot;, &quot;')\">\n        <keyword><xsl:value-of select=\".\" /></keyword>\n        </xsl:for-each>\n    </content>\n</image>\n  </xsl:template>\n</xsl:stylesheet>"},"propertyDescriptors":{"generateImage.xslt":{"name":"generateImage.xslt","displayName":"generateImage.xslt","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a012708-0195-1000-2562-88359940f4e7","instanceIdentifier":"db4b1fcc-ee98-328a-b702-08b38c340670","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"},{"identifier":"1a01270a-0195-1000-9d8b-06a015eac59a","instanceIdentifier":"290048dd-bba6-3794-6890-48b434709c3b","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1a012707-0195-1000-468d-c11d49947206"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"SINGLE_FLOWFILE_PER_NODE","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"remoteProcessGroups":[],"processors":[{"identifier":"c25fd5b3-b5a8-39c5-84f3-49a6e98f5800","instanceIdentifier":"152f20e2-ffac-3b1e-f5b6-5b6e6c407b86","name":"Prepare Xquery","comments":"","position":{"x":-848.0,"y":-1776.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"<query xmlns=\"http://basex.org/rest\">\n  <text>\n<![CDATA[\n  let $files := ","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"return\n<root> {\n  for $f in $files/record\n  where not($f/filename/text() = /image/fileName/text())\n  return $f\n}\n</root>\n]]>\n  </text>\n</query>"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"e35301fb-f367-3bc4-afa2-7872416db15c","instanceIdentifier":"ce8e7bb5-7d0f-30a6-228f-dba0b1a2d7b2","name":"Split to chunks of files","comments":"","position":{"x":-1464.0,"y":-1536.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Record Writer":"d5de0a5c-f300-310f-aec0-acb4481822db","Record Reader":"491de864-450c-327a-84ef-9ee7cd6f88cf","Records Per Split":"10"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"43058c89-efaa-344b-863c-8e929ee0c03b","instanceIdentifier":"4f70f77f-52a1-3373-66b8-57ad8a1ca2f6","name":"Query Imagedb","comments":"","position":{"x":-848.0,"y":-1528.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{basex_password}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://basex:8080/rest/imagedb","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":"admin","Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"3fe393cc-d727-3000-881f-57687ad23cad","instanceIdentifier":"9df2ee14-ee61-3dbb-7f8c-2bf84ae64750","name":"FetchFile","comments":"","position":{"x":-848.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"1a76342a-0195-1000-c37b-f626a0becdbf","instanceIdentifier":"81cb4cb8-0c69-338a-784d-d4797e524307","name":"Insert into Imagedb","comments":"","position":{"x":-216.0,"y":-1472.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{basex_password}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://basex:8080/rest/imagedb/${uuid}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PUT","Request Username":"admin","Request Content-Type":"application/xml","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"9f28aa95-91ec-38c3-9070-0cfba92d21c2","instanceIdentifier":"eabb17d9-e37d-3973-80ab-62d433bc7b74","name":"Split to single files","comments":"","position":{"x":-848.0,"y":-1312.0},"type":"org.apache.nifi.processors.standard.SplitXml","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Split Depth":"1"},"propertyDescriptors":{"Split Depth":{"name":"Split Depth","displayName":"Split Depth","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"1a945d31-0195-1000-0690-389053a9ec93","instanceIdentifier":"fede7a34-bbc1-3037-179d-e60d56aeb9eb","name":"ListFile","comments":"","position":{"x":-1464.0,"y":-1776.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":"02b6bb6c-ce1e-3f21-9c22-116da3473bfd","Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"(?i)^[^\\.].*\\.(jpg|jpeg|png)$","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"none","Input Directory":"/var/work","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1000 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"04d6e008-fc74-3def-8e6f-4c1a9c352e60","instanceIdentifier":"2123f082-041d-3cba-9f7d-b7622ecbd7c3","name":"Evaluate file name, path, attributes","comments":"","position":{"x":-848.0,"y":-1080.0},"type":"org.apache.nifi.processors.standard.EvaluateXPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"absolute.path":"/record/path/text()","Destination":"flowfile-attribute","filename":"/record/filename/text()","file.lastModifiedTime":"/record/lastModified/text()","Return Type":"auto-detect","file.size":"/record/size/text()","Validate DTD":"false"},"propertyDescriptors":{"absolute.path":{"name":"absolute.path","displayName":"absolute.path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"file.lastModifiedTime":{"name":"file.lastModifiedTime","displayName":"file.lastModifiedTime","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file.size":{"name":"file.size","displayName":"file.size","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Validate DTD":{"name":"Validate DTD","displayName":"Allow DTD","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"83d96652-6789-3444-8084-86131d49f33c","instanceIdentifier":"63a9b0a9-af62-37a3-ae72-9ab92bd5a460","name":"","source":{"id":"43058c89-efaa-344b-863c-8e929ee0c03b","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Query Imagedb","comments":"","instanceIdentifier":"4f70f77f-52a1-3373-66b8-57ad8a1ca2f6"},"destination":{"id":"9f28aa95-91ec-38c3-9070-0cfba92d21c2","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Split to single files","comments":"","instanceIdentifier":"eabb17d9-e37d-3973-80ab-62d433bc7b74"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"6299728c-67d8-3c25-9406-c26b09ad2d0d","instanceIdentifier":"e2a4de50-3be2-3052-acbf-27bcddc30c79","name":"","source":{"id":"1a945d31-0195-1000-0690-389053a9ec93","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"ListFile","comments":"","instanceIdentifier":"fede7a34-bbc1-3037-179d-e60d56aeb9eb"},"destination":{"id":"e35301fb-f367-3bc4-afa2-7872416db15c","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Split to chunks of files","comments":"","instanceIdentifier":"ce8e7bb5-7d0f-30a6-228f-dba0b1a2d7b2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"b8c77219-9612-33dd-962b-b177880c68f8","instanceIdentifier":"28082cd8-4407-326a-b299-a172e1ba76b4","name":"","source":{"id":"1a76342a-0195-1000-c37b-f626a0becdbf","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Insert into Imagedb","comments":"","instanceIdentifier":"81cb4cb8-0c69-338a-784d-d4797e524307"},"destination":{"id":"786494ea-ce35-3bfb-b8c1-a0d72ea29875","type":"FUNNEL","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Funnel","comments":"","instanceIdentifier":"9b92a131-a77a-3fdf-70b1-fc95637ac388"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"57cce46d-8150-3e27-a1bd-a0039c2298f8","instanceIdentifier":"9702666f-6ae4-3a98-2f72-ad789e615821","name":"","source":{"id":"c25fd5b3-b5a8-39c5-84f3-49a6e98f5800","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Prepare Xquery","comments":"","instanceIdentifier":"152f20e2-ffac-3b1e-f5b6-5b6e6c407b86"},"destination":{"id":"43058c89-efaa-344b-863c-8e929ee0c03b","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Query Imagedb","comments":"","instanceIdentifier":"4f70f77f-52a1-3373-66b8-57ad8a1ca2f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"030264e3-8c07-35fa-9927-b72ee1182639","instanceIdentifier":"76bc0a78-c551-34ea-358a-225d41da4eaa","name":"","source":{"id":"9f28aa95-91ec-38c3-9070-0cfba92d21c2","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Split to single files","comments":"","instanceIdentifier":"eabb17d9-e37d-3973-80ab-62d433bc7b74"},"destination":{"id":"04d6e008-fc74-3def-8e6f-4c1a9c352e60","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Evaluate file name, path, attributes","comments":"","instanceIdentifier":"2123f082-041d-3cba-9f7d-b7622ecbd7c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"f5c87da7-0af2-3840-9583-00cace0b08d9","instanceIdentifier":"353ac9ff-091e-38e3-b7e3-57737c1ba603","name":"","source":{"id":"43058c89-efaa-344b-863c-8e929ee0c03b","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Query Imagedb","comments":"","instanceIdentifier":"4f70f77f-52a1-3373-66b8-57ad8a1ca2f6"},"destination":{"id":"9b3535d3-d185-324d-b530-c4511fa0ee33","type":"FUNNEL","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Funnel","comments":"","instanceIdentifier":"d720ae8c-6348-30b2-b8ee-07c77ce83eee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-928.0,"y":-1456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"49242701-852c-3943-ab35-93f828a6a743","instanceIdentifier":"1b950ee5-1a72-3292-9f38-4e96a0c0761d","name":"","source":{"id":"04d6e008-fc74-3def-8e6f-4c1a9c352e60","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Evaluate file name, path, attributes","comments":"","instanceIdentifier":"2123f082-041d-3cba-9f7d-b7622ecbd7c3"},"destination":{"id":"9b3535d3-d185-324d-b530-c4511fa0ee33","type":"FUNNEL","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Funnel","comments":"","instanceIdentifier":"d720ae8c-6348-30b2-b8ee-07c77ce83eee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-928.0,"y":-1008.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"1b9743e9-6672-3a52-bd4e-170093d2ee64","instanceIdentifier":"9f59382b-2090-3414-9ffc-e35754fd4da7","name":"","source":{"id":"f8a5a493-5f9f-32d9-aea8-b40c5af92fc9","type":"OUTPUT_PORT","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"finished","instanceIdentifier":"acdea124-72a2-3020-cd8a-5c6e97a228b2"},"destination":{"id":"1a76342a-0195-1000-c37b-f626a0becdbf","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Insert into Imagedb","comments":"","instanceIdentifier":"81cb4cb8-0c69-338a-784d-d4797e524307"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"20321cb7-5317-3b67-81e9-38b09d062649","instanceIdentifier":"eec1527b-9bd9-373c-4e0e-6b94ee2692a2","name":"","source":{"id":"04d6e008-fc74-3def-8e6f-4c1a9c352e60","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Evaluate file name, path, attributes","comments":"","instanceIdentifier":"2123f082-041d-3cba-9f7d-b7622ecbd7c3"},"destination":{"id":"3fe393cc-d727-3000-881f-57687ad23cad","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"FetchFile","comments":"","instanceIdentifier":"9df2ee14-ee61-3dbb-7f8c-2bf84ae64750"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"9e0b17ec-8a04-33c0-93f3-29011de3fdfe","instanceIdentifier":"85e71e87-cbeb-3731-fb3d-7c431e90a4ce","name":"","source":{"id":"e35301fb-f367-3bc4-afa2-7872416db15c","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Split to chunks of files","comments":"","instanceIdentifier":"ce8e7bb5-7d0f-30a6-228f-dba0b1a2d7b2"},"destination":{"id":"c25fd5b3-b5a8-39c5-84f3-49a6e98f5800","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"Prepare Xquery","comments":"","instanceIdentifier":"152f20e2-ffac-3b1e-f5b6-5b6e6c407b86"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1049.3239059448242,"y":-1505.3804931640625},{"x":-1049.3239059448242,"y":-1713.3804931640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"69979822-b171-356b-bf3c-9b1a37d83e44","instanceIdentifier":"187a24d6-3b59-324a-94d0-abc44a22e045","name":"single","source":{"id":"3fe393cc-d727-3000-881f-57687ad23cad","type":"PROCESSOR","groupId":"96dedd9f-7f14-3a89-9706-0d8c78fc7245","name":"FetchFile","comments":"","instanceIdentifier":"9df2ee14-ee61-3dbb-7f8c-2bf84ae64750"},"destination":{"id":"b899cede-f825-3bfd-89cd-f0ae35c317b1","type":"INPUT_PORT","groupId":"1a012707-0195-1000-468d-c11d49947206","name":"single file","instanceIdentifier":"a638fabc-5115-3301-59ab-e04b8663c36b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[{"x":-376.0,"y":-776.0},{"x":-376.0,"y":-1688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"labels":[{"identifier":"28f16430-0195-1000-5604-fddd561152d1","instanceIdentifier":"53caebf7-90cf-3b26-97ef-9d091d57bc2d","position":{"x":-224.0,"y":-1880.0},"label":"Analyze each file and push the result to the database.","zIndex":0,"width":344.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"28ed9199-0195-1000-84d4-ff031f087d44","instanceIdentifier":"b7d023b8-c82f-3f5d-8bd9-1ca9f9388e6b","position":{"x":-848.0,"y":-1880.0},"label":"Check each chunk against the database. Ignore all files that are already known. Fetch the rest one by one.","zIndex":0,"width":344.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"73c0ee64-d955-303a-a4df-d850d2d2caba","instanceIdentifier":"23cfc402-74be-34b8-3dc3-7a9d7c2cbbcd","position":{"x":-1464.0,"y":-1880.0},"label":"Generate file list of all to be computed files and split it into chunks. Only JPG and PNG files.","zIndex":0,"width":344.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"1b095dda-0195-1000-24ce-f45e0e80bcc1","instanceIdentifier":"12170c32-b9d4-34f2-8d76-e1dd8ee8f936","position":{"x":-1680.0,"y":-1776.0},"label":"Start manually via \"Run once\"","zIndex":0,"width":192.0,"height":88.0,"style":{"background-color":"#26a269","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"funnels":[{"identifier":"786494ea-ce35-3bfb-b8c1-a0d72ea29875","instanceIdentifier":"9b92a131-a77a-3fdf-70b1-fc95637ac388","position":{"x":-64.0,"y":-1152.0},"componentType":"FUNNEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"9b3535d3-d185-324d-b530-c4511fa0ee33","instanceIdentifier":"d720ae8c-6348-30b2-b8ee-07c77ce83eee","position":{"x":-952.0,"y":-848.0},"componentType":"FUNNEL","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"controllerServices":[{"identifier":"b22afce2-c116-3433-a266-4db1676632c3","instanceIdentifier":"790df263-de4e-3609-87df-24f95e0af8e9","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"491de864-450c-327a-84ef-9ee7cd6f88cf","instanceIdentifier":"7400f1d1-17e7-38b4-cc2b-05178393f938","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"d5de0a5c-f300-310f-aec0-acb4481822db","instanceIdentifier":"64ed4112-512a-3844-d79c-a9af11d9fb85","name":"XMLRecordSetWriter","comments":"","type":"org.apache.nifi.xml.XMLRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"array_tag_name":null,"schema-branch":null,"omit_xml_declaration":"true","root_tag_name":"root","schema-cache":null,"Timestamp Format":null,"Date Format":null,"suppress_nulls":"never-suppress","Schema Write Strategy":"no-schema","record_tag_name":"record","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"array_wrapping":"no-wrapping","schema-access-strategy":"inherit-record-schema","pretty_print_xml":"false","schema-version":null,"schema-text":"${avro.schema}","Character Set":"UTF-8","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"array_tag_name":{"name":"array_tag_name","displayName":"Array Tag Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"omit_xml_declaration":{"name":"omit_xml_declaration","displayName":"Omit XML Declaration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"root_tag_name":{"name":"root_tag_name","displayName":"Name of Root Tag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress_nulls":{"name":"suppress_nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_tag_name":{"name":"record_tag_name","displayName":"Name of Record Tag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"array_wrapping":{"name":"array_wrapping","displayName":"Wrap Elements of Arrays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print_xml":{"name":"pretty_print_xml","displayName":"Pretty Print XML","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"},{"identifier":"02b6bb6c-ce1e-3f21-9c22-116da3473bfd","instanceIdentifier":"d2179087-8303-3bcd-89a3-5f074fba727b","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"96dedd9f-7f14-3a89-9706-0d8c78fc7245"}],"parameterContextName":"Setup","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Setup":{"name":"Setup","parameters":[{"name":"basex_password","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}